{{define "body"}}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Document</title>
</head>
<body>
  <p>Hello:</p>
  <p>You recently requested a link to reset password.</p>
  <p>Click on the link below to get started:</p>
  <p>
    <a href="{{.Link}}">{{.Link}}</a>
  </p>
  <p>
    This links expires in 60 minutes.
  </p>
  <p>--<br></p>
</body>
</html>


{{end}}